{% extends 'navbar.html' %}
{% block content %} 
<!-- <h1> new block test</h1>
<form method="post">

    <div class="form-group">

        <label for="data">data</label>

        <input type="text" name="data"

               placeholder="Post data" class="form-control"

               value="{{ request.form['data'] }}"></input>

    </div>



   <div class="form-group">

        <label for="hash">Content</label>

        <textarea name="content" placeholder="Post content"

                  class="form-control">{{ request.form['content'] }}</textarea> -->

    <!-- </div> -->
<!-- 
    <div class="form-group">

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

</form> --> 



<head>
  <title>Create a new block</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

</head>
<body id="body">

<div id="login-card" class="card">
<div class="card-body">
  <h2 class="text-center">Create a new block</h2>
  <br>
  <form method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="data" placeholder="Enter data" name="data">
    </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
<br>
    <br>


  </form>
</div>
<div>
{% endblock %} 