{% block content %} 
<h1> Register user </h1>
<form method="post">

    <div class="form-group">

        <label for="username">username</label>

        <input type="text" name="username"

               placeholder="Post username" class="form-control"

               value="{{ request.form['username'] }}"></input>

    </div>

    <div class="form-group">

        <label for="password">password</label>

        <input type="password" name="password"

               placeholder="Post password" class="form-control"

               value="{{ request.form['password'] }}"></input>

    </div>


    <div class="form-group">

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

</form>
{% endblock %} 