{% extends 'navbar.html' %}
{% block content %} 
<!-- <h1> Register user </h1>
<form method="post">

    <div class="form-group">

        <label for="username">username</label>

        <input type="text" name="username"

               placeholder="Post username" class="form-control"

               value="{{ request.form['username'] }}"></input>

    </div>

    <div class="form-group">

        <label for="password">password</label>

        <input type="password" name="password"

               placeholder="Post password" class="form-control"

               value="{{ request.form['password'] }}"></input>

    </div>


    <div class="form-group">

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

</form>


  -->

<head>
  <title>Register page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

</head>
<body id="body">

<div id="login-card" class="card">
<div class="card-body">
  <h2 class="text-center">Register</h2>
  <br>
  <form method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
<br>
    <br>


  </form>
</div>
<div>
{% endblock %} 